<template name="about">
<body>
<h2>About</h2>
<p></p>
<h3>
We are actively developing a code based tool to allow lawyers to draft contracts in a radically different way.  Ultimately, our goal is to develop a tool that will allow lawyers to draft contracts more efficiently and with fewer errors.  Our application code will also allow code based contracts to be easily implemented on the blochchain.  An in- depth overview of our idea (which is still a work in progress) is set forth in our draft white paper, which we encourage you to read and provide us with feedback.
</h3>
<p></p>
<p></p>
</body>
</template>