<template name="ethereum">
{{setConnection}}
<h3>Ethereum Dashboard</h3>
<p>Web3 Version: {{Web3Version}}</p>
<p>Current Provider: {{current}}</p>
<p>Client Version: {{Web3ClientVersion}}</p>
<p>Coinbase: {{defaultAccount}}</p>
<p>Balance: {{balance}}</p>
<p>Gas Price: {{gasprice}}</p>
<p></p>
<!--<div class='decrypt'>
<input type="submit" value="Test Encryption" class="btn btn-primary"/>
</div>
<p></p> -->
<!--<div class='python2'>
<input type="submit" value="Test Python Script" class="btn btn-primary"/>
</div> -->


<p><label class="item item-input">
  	<input type="text" name='address' placeholder="Enter contract address">
   </label></p>
<div class='find'>
<input type="submit" value="Submit" class="btn btn-primary"/>
</div>

<p><h3>Disclosure:</h3></p>

<p>The above dashboard provides basic information about the ethereum node utilized by this Dapp (decentralized application).</p><p>Please note that the ethereum node is currently connected to the PUBLIC ethereum blockchain and NOT a private test net.  This means that all transactions done here are distributed into the "wild".  With the rising price of ETH, we may replace our public node with a test-net.  We will advise of any changes, but until otherwise notified, you should assume your transactions are being transmitted to the public Ethereum blockchain.</p>
<p>To load a test smart contract that you or anyone else created on our platform, simply input the contract address in the form above and submit.</p>


</template>