<template name="ethereum3">
<center>Promissory Note Ethereum Panel</center>
{{setConnection}}
<h3>Basic Ethereum Information</h3>
<p>Web3 Version: {{Web3Version}}</p>
<p>Current Provider: {{current}}</p>
<p>Client Version: {{Web3ClientVersion}}</p>
<p>Coinbase: {{defaultAccount}}</p>
<p>Balance of Coinbase: {{balance}}</p>
<p></p>
{{compile}}
<p></p>
<p>Contract Address: {{address}}</p>
<p></p>
<p><h3>The above dashboard provides basic information about the ethereum node utilized by this Dapp (decentralized application).  Please note that the ethereum node is currently connected to the PUBLIC ethereum blockchain and NOT a private test net.  This means that all transactions done here are distributed into the "wild".  With the rising price of ETH, we may replace our public node with a test-net.  We will advise of any changes, but until otherwise notified, you should assume your transactions are being transmitted to the public Ethereum blockchain.  It may take a few minutes before the contract address appears above.  Please do not hit refresh.  It can take a few minutes for your transaction to be mined on the Ethereum blockchain.  Once the address is returned, please make note of the address.  You will need this information to retrieve your contract, which can be retrived any time by going to the Ethereum panel and inputting the contract address there.</h3></p>
</template>