<template name="mainPage">

<div class="jumbotron">
        <h1>Building a bridge between traditional contracts and smart contracts</h1>
        <p class="lead">We are developing a coding platform that will symbiotically generate traditional and smart contracts—fusing the contracts of today with the contracts of tomorrow.  There has been much written about the application of the blockchain to contracts and the development of smart contracts, some of which--in the case of Ethereum and others--is groundbreaking.  Our aim is to advance the foundation others have laid and continue to build, and hopefully, nudge the legal profession closer to truly leveraging technologies that have already disrupted virtually every other industry.</p>
        <p><a class="btn btn-lg btn-success" href="https://docs.google.com/document/d/1Cun8B6V_CbedxrhW26j0ZfAfcuVKtrVOdg9tY7XR8Lw/edit?usp=sharing" role="button">Read draft white paper</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Sample Application</h4>
          <p>Click <a href="{{pathFor route='oldSample'}}">here</a> to see a basic example of a form based contract generator.  Input the information in the form and click the submit button.  The application will then generate a final document based on the information you provided.  This is a very unsophisticated form of automated document generation.  But this method is still commonplace in today's marketplace.  We hope to change this.</p>

          <h4>Alpa Version of contractCode Comming Soon</h4>
          <p>Within the next few months, we hope to officially release our alpha version (0.0.1) for public testing and use.  You can click on Alpha button above to play around with some of our template forms that are in progress.  Be warned, these are not in final form.</p>

          <h4>Follow Our Progress</h4>
          <p>If you want to keep up with our progress, follow us on Twitter contractCode @contractCoding.  We will post any updates and announcements via Twitter.</p>
        </div>

        <div class="col-lg-6">
          <h4>Contribute</h4>
          <p>If you are interested in contributing to our efforts or simply giving us your thoughts, please feel free to contact us.</p>

          <h4>Source Code</h4>
          <p>When we release the alpha version of contractCode, we will also provide access to all of the source code on GitHub.  More details to follow.</p>

          <h4>LegalTech Labs</h4>
          <p>Do you have an idea that could disrupt the legal profession through innovation and technology?  If so, check out <a href="http://legaltechlabs.com">LegalTech Labs</a>, based in Miami, Florida.</p>
        </div>
      </div>

    </template>