<template name="oldSampleoutput">
<center>Anti-Coercion Statement</center>
<p></p>
<p>{{lender}}</p>
<p></p>
The following statement is required under Rule 69O-124.002, F.A.C., of the rules and regulations promulgated by the Financial Services Commission relative to anti-coercion:
The Insurance Laws of this state provide that the lender may not require the borrower to take insurance through any particular insurance agent or company to protect the mortgaged property.
The borrower, subject to the rules adopted by the Financial Services Commission, has the right to have the insurance placed with an insurance agent or company of his choice, provided the company meets the requirements of the lender. The lender has the rights to designate reasonable financial requirements as to the company and the adequacy of the coverage.
I have read the foregoing statement, or the rules of the Office of Financial Services relative thereto, and understand my rights and privileges and those of the lender relative to the placing of such insurance.
I have selected {{company}} to write the hazard insurance covering property located at: {{address}}
<p></p>
{{borrower}}
<p></p>
<p>By: _________________</p>
<p>Name: ________________</p>
<p>Its:__________________</p>
<p></p>
Date: {{date}}
</template>