<template name="oldSample">
  <h1 class="title">Anti-Coercion Statement</h1>
		<div class="list">
  			<label class="item item-input">
    			<input type="text" name='borrower' placeholder="Borrower">
  			</label>
  			<label class="item item-input">
    			<input type="text" name='lender' placeholder="Lender">
  			</label>
  			<label class="item item-input">
    			<input type="text" name= 'address' placeholder="Address">
  			</label>
  			<label class="item item-input">
    			<input type="text" name='company' placeholder="Insurance Company">
  			</label>
  			<label class="item item-input">
    			<input type="text" name='date' placeholder="Date">
  			</label>
		</div>
		<p></p>
	<div class='doc'>
		<input type="submit" value="Submit" class="btn btn-primary"/>
	</div>
</template>
