<template name="output_contractCode">
<p><h2>The following represents the contractCode Object for the contract you created:</h2></p>

<p><h3>contractCode Object = {</h3></p>
	  <p><b>deal.commitment_date:</b> {{commitment_date}},</p>
	  <p><b>deal.borrower_name:</b> {{borrower_name}},</p>
      <p><b>deal.borrower_address_line1:</b> {{borrower_address_line1}},</p>
      <p><b>deal.borrower_address_line2:</b> {{borrower_address_line2}},</p>
      <p><b>deal.borrower_contact: </b>{{borrower_contact}},</p>
      <p><b>deal.borrower_state: </b>{{borrower_state}},</p>
      <p><b>deal.borrower_type: </b>{{borrower_type}},</p>
      <p><b>deal.property_address: </b>{{property_address}},</p>
      <p><b>deal.loan_amount_written: </b>{{loan_amount_written}},</p>
      <p><b>deal.loan_amount: </b>{{loan_amount}},</p>
      <p><b>deal.LTV_written: </b>{{LTV_written}},</p>
      <p><b>deal.LTV: </b>{{LTV}},</p>
      <p><b>deal.DSCR: </b>{{DSCR}},</p>
      <p><b>deal.property_type: </b>{{property_type}},</p>
      <p><b>deal.property_description: </b>{{property_description}},</p>
      <p><b>deal.lender: </b>{{lender}},</p>
      <p><b>deal.guarantors: </b>{{guarantors}},</p>
      <p><b>deal.limited: </b>{{limited}},</p>
      <p><b>deal.cap_amount: </b>{{cap_amount}},</p>
      <p><b>deal.cap_percent_written: </b>{{cap_percent_written}},</p>
      <p><b>deal.cap_percentage: </b>{{cap_percentage}},</p>
      <p><b>deal.term_written: </b>{{term_written}},</p>
      <p><b>deal.term: </b>{{term}},</p>
      <p><b>deal.extend: </b>{{extend}},</p>
      <h3>}</h3>
</template>