<template name="sampleNote">
  <h1 class="title">Promissory Note</h1>
		<div class="list">
  			<p><label class="item item-input">
    			<input type="text" name='note_date' placeholder="Effective Date">
  			</label></p>
  			<p><label class="item item-input">
    			<input type="text" name='maker_name' placeholder="Maker">
  			</label></p>
        <p><label class="item item-input">
          <input type="text" size='35' name='loan_amount_written' placeholder="Loan Amount (Written)(e.g., Five Million)">
        </label></p>
        <p><label class="item item-input">
          <input type="text" size='35' name='loan_amount' placeholder="Loan Amount (Numeral)(e.g., 5,000,000)">
        </label></p>
        <p><label class="item item-input">
          <input type="text" name='maturity_date' placeholder="Maturity Date">
        </label></p>
        <p><label class="item item-input">
          <input type="text" name='lender' placeholder="Lender's Name">
        </label></p>
		<p></p>
  </div>
	<div class='doc'>
		<input type="submit" value="Submit" class="btn btn-primary"/>
	</div>
</template>