<template name="startPage2">
  <div class="list-group">
  <a href="#" class="list-group-item active">
    Alpha Tools and Forms
  </a>
  <a href="{{pathFor route='commitment'}}" class="list-group-item">Form: Commitment Loan (New CRE)</a>
  <a href="{{pathFor route='creCAS'}}" class="list-group-item">Form: Credit Approval Summary (CRE)</a>
  <a href="{{pathFor route='sampleNote'}}" class="list-group-item">Form: Promissory Note</a>
  <a href="#" class="list-group-item">Another cool thing to come...</a>
</div>
</template>